# -*- coding: utf-8 -*-

import os

# Change this to False if you run it in development
DEBUG = True
TEMPLATE_DEBUG = DEBUG

# See https://docs.djangoproject.com/en/1.6/ref/settings/#databases for reference
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',
        'NAME': 'dndtools.sqlite',
        }
}


# Make this unique, and don't share it with anybody.
SECRET_KEY = 'TODO FILL'

SITE_ID = 1

if DEBUG:
    INTERNAL_IPS = ('127.0.0.1',)


RECAPTCHA_PUBLIC = 'TODO FILL'
RECAPTCHA_PRIVATE = 'TODO FILL'
